In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
path='C:\\Users\\afayyaz\\Desktop\\Projects\\Predicting\\'

### Import the DOB Now dataset

In [3]:
DOB_now_permits_df = pd.read_csv(path + "DOBNOW job_permits high risk construction.csv")
DOB_now_permits_df.head()

,Bin,House Number,Street Name,Community Board,Job Number,Applicant Business Name,JobType,Borough,ProposedBuildingHeight,ProposeeBuildingStoriesft,Permit Issued Date,Permit Expiration Date,Work Type Name,Proposed Occupancy Classification,Proposed Dwelling Units
0,1000000,451,10 AVENUE,NaN,M00532013-I1,HANDEL ARCHITECTS LLP,Alteration,MANHATTAN,541.0,44.0,2021-08-12 00:00:00,2021-12-01 05:00:00,General Construction,R-2-Residential (Apartment Houses),532.0
1,1000000,451,10 AVENUE,NaN,M00532013-I1,HANDEL ARCHITECTS LLP,Alteration,MANHATTAN,541.0,44.0,2021-12-06 00:00:00,2022-08-28 00:00:00,General Construction,R-2-Residential (Apartment Houses),532.0
2,1000003,10,SOUTH STREET,101.0,M00027908-I1,TOHFAZ UDDIN PE PC,Alteration,MANHATTAN,NaN,NaN,2018-03-21 00:00:00,2018-10-01 00:00:00,Sidewalk Shed,NaN,NaN
3,1000003,10,SOUTH STREET,101.0,M00027908-I1,TOHFAZ UDDIN PE PC,Alteration,MANHATTAN,NaN,NaN,2018-10-05 00:00:00,2019-10-01 00:00:00,Sidewalk Shed,NaN,NaN
4,1000003,10,SOUTH STREET,101.0,M00027908-I1,TOHFAZ UDDIN PE PC,Alteration,MANHATTAN,NaN,NaN,2019-10-10 00:00:00,2020-10-01 00:00:00,Sidewalk Shed,NaN,NaN

### Cleaning the DOB Now dataset

In [4]:
# Rename the Applicant Business Name to Contractor Name
DOB_now_permits_df = DOB_now_permits_df.rename(columns={'Applicant Business Name': 'Contractor Name',
                                                         'Work Type Name' : 'Permit Sub Type'},)

#Create a Permit Type Column
DOB_now_permits_df["Permit Type"] = "EQ"

### Check the value counts of unique work type names and change them to codes instead

In [6]:
DOB_now_permits_df["Permit Sub Type"].value_counts()

Sidewalk Shed                        47729
Plumbing                             45918
Construction Fence                   37788
General Construction                 26780
Supported Scaffold                   24041
Mechanical Systems                   22990
Sprinklers                           15119
Sign                                 14020
Structural                            8149
Boiler Equipment                      3953
Antenna                               3764
Curb Cut                              3216
Standpipe                             2485
Protection and Mechanical Methods     1743
Foundation                            1520
Earth Work                             898
Support of Excavation                  412
Name: Permit Sub Type, dtype: int64

In [8]:
#Use the codes for Work Type Names

DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Sidewalk Shed','SH')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Plumbing','PL')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Construction Fence','FN')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('General Construction','GC')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Supported Scaffold','SF')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Mechanical Systems','MS')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Sprinklers','SP')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Sign','SG')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Structural','ST')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Boiler Equipment','BE')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Antenna','AN')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Curb Cut','CC')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Standpipe','SD')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Protection and Mechanical Methods','PM')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Foundation','FO')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Earth Work','EA')
DOB_now_permits_df["Permit Sub Type"] = DOB_now_permits_df["Permit Sub Type"].str.replace('Support of Excavation','SE')

# DOB_now_permits_df.head()

### Importing the BIS dataset

In [9]:
BIS_job_permits_df = pd.read_csv(path + "BIS jobs_permits construction high risk.csv")
BIS_job_permits_df.head()

,Job Number,Job Type,BIN Number,Borough Name,Community Board,Job Location House Number,Job Location Street Name,Applicant Business Name,Permit Type,Permit Sub Type,Number of Stories,Proposed Stories,Proposed Height,Proposed Occupancy Classification Description,Proposed Dwelling Units,D_DATE,D_DATE.1
0,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ANTHONY MORALI ARCHITECT PLLC,EW,OT,0,33,350,NaN,286.0,2019-09-24,2020-12-31
1,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ANTHONY MORALI ARCHITECT PLLC,PL,NaN,0,33,350,NaN,286.0,2019-09-24,2020-09-23
2,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ANTHONY MORALI ARCHITECT PLLC,PL,NaN,0,33,350,NaN,286.0,2022-02-03,2023-02-03
3,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ROBERT STRONG ARCHITECT,EW,OT,0,33,350,NaN,286.0,2019-09-24,2020-12-31
4,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ROBERT STRONG ARCHITECT,PL,NaN,0,33,350,NaN,286.0,2019-09-24,2020-09-23

In [10]:
print(list(DOB_now_permits_df.columns))
print("______________________________")
print(list(BIS_job_permits_df.columns))

['Bin', 'House Number', 'Street Name', 'Community Board', 'Job Number', 'Contractor Name', 'JobType', 'Borough', 'ProposedBuildingHeight', 'ProposeeBuildingStoriesft', 'Permit Issued Date', 'Permit Expiration Date', 'Permit Sub Type', 'Proposed Occupancy Classification', 'Proposed Dwelling Units', 'Permit Type']
______________________________
['Job Number', 'Job Type', 'BIN Number', 'Borough Name', 'Community Board', 'Job Location House Number', 'Job Location Street Name', 'Applicant Business Name', 'Permit Type', 'Permit Sub Type', 'Number of Stories', 'Proposed Stories', 'Proposed Height', 'Proposed Occupancy Classification Description', 'Proposed Dwelling Units', 'D_DATE', 'D_DATE.1']

### Cleaning the BIS dataset

In [11]:
# Rename all cols to match DOB Now dataset

BIS_job_permits_df = BIS_job_permits_df.rename(columns={'Job Type': 'JobType',
                                                        'BIN Number': 'Bin',
                                                        'Borough Name': 'Borough',
                                                        'Job Location House Number': 'House Number',
                                                        'Job Location Street Name': 'Street Name',
                                                        'Applicant Business Name': 'Contractor Name',
                                                        'Proposed Stories': 'ProposeeBuildingStoriesft',
                                                        'Proposed Height': 'ProposedBuildingHeight',
                                                        'Proposed Occupancy Classification Description': 'Proposed Occupancy Classification',
                                                        'D_DATE': 'Permit Issued Date',
                                                        'D_DATE.1': 'Permit Expiration Date',        
                                                        }
                                               ,)

BIS_job_permits_df = BIS_job_permits_df.drop(['Number of Stories'], axis=1)

In [12]:
BIS_job_permits_df.head()

,Job Number,JobType,Bin,Borough,Community Board,House Number,Street Name,Contractor Name,Permit Type,Permit Sub Type,ProposeeBuildingStoriesft,ProposedBuildingHeight,Proposed Occupancy Classification,Proposed Dwelling Units,Permit Issued Date,Permit Expiration Date
0,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ANTHONY MORALI ARCHITECT PLLC,EW,OT,33,350,NaN,286.0,2019-09-24,2020-12-31
1,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ANTHONY MORALI ARCHITECT PLLC,PL,NaN,33,350,NaN,286.0,2019-09-24,2020-09-23
2,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ANTHONY MORALI ARCHITECT PLLC,PL,NaN,33,350,NaN,286.0,2022-02-03,2023-02-03
3,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ROBERT STRONG ARCHITECT,EW,OT,33,350,NaN,286.0,2019-09-24,2020-12-31
4,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ROBERT STRONG ARCHITECT,PL,NaN,33,350,NaN,286.0,2019-09-24,2020-09-23

In [13]:
print(len(BIS_job_permits_df))
print(len(DOB_now_permits_df))

print(len(BIS_job_permits_df) + len(DOB_now_permits_df))

850000
260526
1110526

In [14]:
DOB_now_permits_df["Job Number"].nunique()

169290

In [15]:
# list(DOB_now_permits_df.columns).sort() == list(BIS_job_permits_df.columns).sort()
frames=[BIS_job_permits_df,DOB_now_permits_df]
permits_df= pd.concat(frames)
permits_df.head(5)

,Job Number,JobType,Bin,Borough,Community Board,House Number,Street Name,Contractor Name,Permit Type,Permit Sub Type,ProposeeBuildingStoriesft,ProposedBuildingHeight,Proposed Occupancy Classification,Proposed Dwelling Units,Permit Issued Date,Permit Expiration Date
0,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ANTHONY MORALI ARCHITECT PLLC,EW,OT,33.0,350.0,NaN,286.0,2019-09-24,2020-12-31
1,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ANTHONY MORALI ARCHITECT PLLC,PL,NaN,33.0,350.0,NaN,286.0,2019-09-24,2020-09-23
2,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ANTHONY MORALI ARCHITECT PLLC,PL,NaN,33.0,350.0,NaN,286.0,2022-02-03,2023-02-03
3,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ROBERT STRONG ARCHITECT,EW,OT,33.0,350.0,NaN,286.0,2019-09-24,2020-12-31
4,100039995,A2,1048918,Manhattan,108.0,245,EAST 93 STREET,ROBERT STRONG ARCHITECT,PL,NaN,33.0,350.0,NaN,286.0,2019-09-24,2020-09-23

In [16]:
permits_df.tail()

,Job Number,JobType,Bin,Borough,Community Board,House Number,Street Name,Contractor Name,Permit Type,Permit Sub Type,ProposeeBuildingStoriesft,ProposedBuildingHeight,Proposed Occupancy Classification,Proposed Dwelling Units,Permit Issued Date,Permit Expiration Date
260521,S00477364-S1,New Building with Existing Elements to Remain,5868475,STATEN ISLAND,501.0,1,DEP PLAZA,QAZ2,EQ,GC,1.0,1.0,A-High Hazard,1.0,2021-02-27 00:00:00,2022-02-27 05:00:00
260522,S00477364-S1,New Building with Existing Elements to Remain,5868475,STATEN ISLAND,501.0,1,DEP PLAZA,QAZ2,EQ,MS,1.0,1.0,A-High Hazard,1.0,2021-02-27 00:00:00,2022-02-27 05:00:00
260523,S00520729-I1,Alteration,5868475,STATEN ISLAND,501.0,1,DEP PLAZA,QAZ2,EQ,GC,100.0,100.0,G-Education,120.0,2021-05-14 00:00:00,2022-05-14 00:00:00
260524,S00520856-I1,Alteration,5868475,STATEN ISLAND,501.0,1,DEP PLAZA,QAZ2,EQ,PM,NaN,NaN,NaN,13.0,2021-05-12 00:00:00,2022-05-12 00:00:00
260525,S00520908-I1,Alteration,5868475,STATEN ISLAND,501.0,1,DEP PLAZA,QAZ2,EQ,FO,NaN,NaN,H-4-High Hazard (Health),12.0,2021-05-12 00:00:00,2022-05-12 00:00:00